extend layout

block content 
  p
    h1 Helloworld
  | This is a self updating dribble fed website. I am noob. Bare with me.
  
  ul#portfolio

block about
  
  h1 About ME
  img(src='/images/cat.gif')
  p I love to sleep. 

block contact

  h1 Get in touch
  p
    | If you want to sponsor me anything,
    | or you just want to talk. 
    | Don't be shy, <a href="mailto:xiuen@hotmail.com">email me</a>