/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Quicksand");
/*
 * Nib provides a CSS reset
 */
/*
 * Colors
 */
h1 {
  font-weight: normal;
  margin: 0px 0px 30px 0px;
}
h1 span {
  font-size: 30px;
}
h2 {
  font-weight: normal;
  clear: both;
}
p {
  white-space: pre;
}
a {
  color: #a65555;
}
a:hover {
  color: #792626;
}
body {
  font-family: "Droid Serif", Georgia, Serif;
  background-color: #faf9f0;
  background-image: url("/images/bg.png");
  color: #393d38;
  font-size: 15px;
  text-align: center;
  margin: 0;
}
header {
  font-family: 'Quicksand';
  padding: 50px 10px;
  color: #fff;
  font-size: 25px;
  text-align: center;
/*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  background-color: #4faadb;
  text-shadow: 0px -1px 0px #144763;
}
.section {
  position: relative;
  width: 100%;
}
.section .dribble {
  background: #f57945;
}
.section .about {
  background: #8f7065;
}
.section .contact {
  background: #68b560;
}
.container {
  width: 100%;
  overflow: hidden;
}
.content {
  width: 70%;
  margin: 0 auto;
  padding: 50px;
  background-color: rgba(255,255,255,0.1);
}
.content ul#portfolio {
  width: 750px;
  margin: 0 auto;
  list-style: none;
  overflow: hidden;
}
.content ul#portfolio li {
  float: left;
  margin: 20px;
}
.content ul#portfolio a {
  display: block;
  width: 200px;
  height: 150px;
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
footer {
  background-color: #393d38;
  color: #fff;
  border-top: 1px dotted #ccc;
  padding: 10px;
  font-size: 13px;
  margin-bottom: 0px;
}
